<!DOCTYPE html>
<html>
  <head>
    <title>AppTeste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<script src="/js/jquery-3.4.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


	<%= render 'layouts/navbar'%>


    <%= yield %>
  </body>
</html>
